build/
.cache/
compile_commands.json
*.png
*.gif
*.exr
*.jpg
output.txt
images/360Images/

# vscode
.vscode/

# Visual Studio
*.sln
*.vcxproj
*.filters
*.tlog
*.log
*.recipe

#Cmake files
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeCache.txt
cmake_install.cmake

# Compile artifacts
*.exe
*.pdb
*.obj
*.ilk